import { JsonCheck, RegexpCheck } from "./src/types";

const config: (RegexpCheck | JsonCheck)[] = [
  {
    name: "Check 1",
    url: "http://localhost:3000/",
    cronTime: "0 10 * * *",
    type: 'regexp',
    regexps: [
      {
        regexp: new RegExp(/Unwanted text/),
        message: "There is Unwanted text in page",
      },
      {
        regexp: new RegExp(/^(?!.*Required text).+$/, 's'),
        message: "There is no Required text in page",
      },
    ],
  },
  {
    name: "Check 2",
    url: "http://localhost:3001/",
    cronTime: "0 10 * * *",
    type :'json',
    jsonProperties: [
      {
        property: 'test',
        value: {
          type: 'number',
          value: 1,
          modifier: 'greaterthan',
        },
      },
      {
        property: 'test2',
        value: {
          type: 'regexp',
          value: new RegExp(/error/),
        },
      },
      {
        property: 'test3',
        value: {
          type: 'string',
          value: 'success',
        },
      },
      {
        property: 'test4',
        value: {
          type: 'boolean',
          value: true,
        },
      },
    ],
  },
];

export default config;
